<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.base.dao.medical.MedicalCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.user.base.entity.model.medical.MedicalCategory">
        <id column="id" property="id" />
        <result column="category_name" property="categoryName" />
        <result column="category_code" property="categoryCode" />
        <result column="category_of" property="categoryOf" />
        <result column="status" property="status" />
    </resultMap>

    <sql id="baseCol">
        id,category_name,category_code,category_of,status
    </sql>

    <select id="queryByParams" parameterType="com.user.base.entity.model.medical.MedicalCategory"
             resultType="com.user.base.entity.model.medical.MedicalCategory">

        select <include refid="baseCol"/>
        from t_bu_medical_category
        where 1=1
        <if test="id != null">
            and id != #{id}
        </if>
        <if test="categoryCode !=null and categoryCode!=''">
            and category_code = #{categoryCode}
        </if>
        limit 1
    </select>

    <select id="listByParams" resultMap="BaseResultMap" parameterType="com.user.base.entity.model.medical.MedicalCategory" >
        select
        <include refid="baseCol" />
        from t_bu_medical_category
        where STATUS = 1
            <if test="categoryName !=null and categoryName!=''">
                and category_name = #{categoryName}
            </if>
            <if test="categoryCode !=null and categoryCode!=''">
                and category_code = #{categoryCode}
            </if>
            <if test="categoryOf !=null and categoryOf!=''">
                and category_of = #{categoryOf}
            </if>
            <if test="status !=null">
                and status = #{status}
            </if>
    </select>


</mapper>
