<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.base.dao.AreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.user.base.entity.model.Area">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="type" property="type" />
    </resultMap>

    <sql id="Base_Column_List" >
        id,pid,name,type
    </sql>

    <select id="queryByPrimaryKey" resultMap="BaseResultMap" parameterType="com.user.base.entity.model.Area">
        select
        <include refid="Base_Column_List" />
        from t_sys_area
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="queryByParams" resultMap="BaseResultMap" parameterType="com.user.base.entity.model.Area">
        select
        <include refid="Base_Column_List" />
        from t_sys_area
        where 1=1
        <if test="pid != null" >
            and pid = #{pid,jdbcType=INTEGER}
        </if>
        <if test="name != null and name != ''" >
            and name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="type != null" >
            and type = #{type,jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_sys_area
        where 1=1
        <if test="pid != null" >
            and pid = #{pid,jdbcType=INTEGER}
        </if>
        <if test="name != null and name != ''" >
            and name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="type != null" >
            and type = #{type,jdbcType=INTEGER}
        </if>
    </select>

</mapper>
