<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.user.base.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.user.base.entity.model.UserRole" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_user_id" property="sysUserId" jdbcType="INTEGER" />
    <result column="sys_role_id" property="sysRoleId" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="PermissionResultMap" type="com.user.base.entity.model.Permission">
    <id column="id" property="id" />
    <result column="parent_id" property="parentId" />
    <result column="code" property="code" />
    <result column="name" property="name" />
    <result column="icon" property="icon" />
    <result column="url" property="url" />
    <result column="type" property="type" />
    <result column="sort" property="sort" />
    <result column="status" property="status" />
    <result column="description" property="description" />
    <result column="operate_time" property="operateTime" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, sys_user_id, sys_role_id
  </sql>

  <sql id="Permission_Column_List" >
    id, parent_id, code, name, icon, url, type, sort, status, description, operate_time
  </sql>


  <select id="queryByParams" resultMap="BaseResultMap" parameterType="com.user.base.entity.model.UserRole" >
    select
    <include refid="Base_Column_List" />
    from t_sys_user_role WHERE 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="sysUserId != null" >
      and sys_user_id = #{sys_user_id,jdbcType=INTEGER}
    </if>
    <if test="sysRoleId != null" >
      and sys_role_id = #{sys_role_id,jdbcType=INTEGER}
    </if>
  </select>
  <delete id="deleteByParams" parameterType="com.user.base.entity.model.UserRole" >
    delete from t_sys_user_role WHERE 1= 1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="sysUserId !=null">
      and sys_user_id = #{sysUserId,jdbcType=INTEGER}
    </if>
    <if test="sysRoleId != null" >
      and sys_role_id = #{sysRoleId,jdbcType=INTEGER}
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.user.base.entity.model.UserRole" >
    insert into t_sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysUserId != null" >
        sys_user_id,
      </if>
      <if test="sysRoleId != null" >
        sys_role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysUserId != null" >
        #{sysUserId,jdbcType=INTEGER},
      </if>
      <if test="sysRoleId != null" >
        #{sysRoleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>



  <select id="queryPersByRoleId" resultMap="PermissionResultMap" parameterType="java.lang.Integer">
       SELECT
          <include refid="Permission_Column_List"/>
        FROM t_sys_permission WHERE STATUS = 1
       AND id IN (SELECT sys_permission_id  FROM t_sys_role_permission WHERE sys_role_id = #{sysRoleId,jdbcType=INTEGER})
  </select>


  <!-- -->
  <!-- 加载用户已有的角色 -->
  <select id="queryRolesByUserId" resultType="com.user.base.entity.model.Role" parameterType="java.lang.Integer">
    SELECT id,NAME,available
    FROM t_sys_role
    WHERE available =1
    AND  id IN ( SELECT sys_role_id FROM t_sys_user_role WHERE sys_user_id =  #{sysUserId,jdbcType=INTEGER} )
  </select>


  <insert id="insertUserRoles" parameterType="java.util.List" useGeneratedKeys="false">
    INSERT INTO t_sys_user_role(id,sys_user_id,sys_role_id)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.id},
      #{item.sysUserId},
      #{item.sysRoleId}
      )
    </foreach>
  </insert>

</mapper>