<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>系统参数编辑</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/dataTables/dataTables.bootstrap.css"/>
    <link rel="stylesheet" href="/css/datepicker/bootstrap-datetimepicker.css"/>
    <link rel="stylesheet" href="/css/sweetalert/sweetalert2.min.css"/>

    <style type="text/css">
        .form-group {
            height: 30px;
        }
    </style>
    <script type="text/javascript" src="/js/moment/moment.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/datepicker/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/js/datepicker/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="/js/dataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/js/dataTables/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="/js/sweetalert/sweetalert2.min.js"></script>
    <script type="text/javascript">
        function doEdit() {
            if($("#paramsKey").val().trim() == '' || $("#paramsValue").val().trim()==''){
                alert("key-value不能为空值");
                return;
            }

            if($("#id").val().trim() == ''){
                doSaveParams();
                return;
            }
            //id,pid都不为空
            if($("#id").val().trim() != ''){
                doUpdateParams();
                return;
            }
        }
        
        function doSaveParams() {
            $.ajax({
                url:"/params/doSaveParams",
                type:"post",
                dataType:"json",
                contentType :"application/json",
                data: JSON.stringify($('#myform').serializeObject()),
                success:function(data){
                    if(data.code==200){
                        alert(data.message);
                        window.location.href = "/params/paramsList";
                    }else{
                        alert(data.message);
                    }
                },
                error:function () {
                    alert("系统错误！")
                }
            });
        }

        function doUpdateParams() {
            $.ajax({
                url:"/params/doUpdateParams",
                type:"post",
                dataType:"json",
                contentType :"application/json",
                data: JSON.stringify($('#myform').serializeObject()),
                success:function(data){
                    if(data.code==200){
                        alert(data.message);
                        window.location.href = "/params/paramsList";
                    }else{
                        alert(data.message);
                    }
                },
                error:function () {
                    alert("系统错误！")
                }
            });
        }

        //序列化对象
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    </script>
</head>
<body>
<form id="myform" enctype="multipart/form-data" method="post">
    <div class="panel panel-default" style="width: 50%; margin: 10px auto;">
        <div class="panel-heading" style="font-weight: 600;">
            角色编辑,
            id:<input th:value="${params.id}" id="id" type="text" name="id" readonly>
            pid:<input th:value="${params.pid}" id="pid" type="text" name="pid" readonly>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">键值(父级)</label>
                <div class="col-sm-10">
                    <input readonly id="parentKey" class="form-control" th:value="${params.parentKey}" name="parentKey" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">数值(父级)</label>
                <div class="col-sm-10">
                    <input readonly class="form-control" th:value="${parentValue}" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">键值</label>
                <div class="col-sm-10">
                    <input id="paramsKey" class="form-control" th:value="${params.paramsKey}" name="paramsKey" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">数值</label>
                <div class="col-sm-10">
                    <input id="paramsValue" class="form-control" th:value="${params.paramsValue}" name="paramsValue" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">描述</label>
                <div class="col-sm-10">
                    <input class="form-control" th:value="${params.paramsDesc}"  name="paramsDesc" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10">
                    <select name="status" class="select-control">
                        <option value="1" th:selected="${params.status eq 1}">----启用----</option>
                        <option value="0" th:selected="${params.status eq 0}">----禁用----</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class=" col-sm-12" style="text-align: center; margin-top: 20px;">
                    <input value="确定" type="button" class="btn btn-success" th:onclick="|doEdit()|"/>
                    <input value="重置" type="reset" class="btn btn-default" />
                    <input value="取消" type="button" class="btn btn-default" onclick="history.go(-1)"/>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>