<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.user.base.dao.RolePermissionMapper" >
  <resultMap id="BaseResultMap" type="com.user.base.entity.model.RolePermission" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_role_id" property="sysRoleId" jdbcType="INTEGER" />
    <result column="sys_permission_id" property="sysPermissionId" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, sys_role_id, sys_permission_id
  </sql>
  <select id="queryByParams" resultMap="BaseResultMap" parameterType="com.user.base.entity.model.RolePermission" >
    select
    <include refid="Base_Column_List" />
    from t_sys_role_permission
    where 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="sysRoleId != null" >
      and sys_role_id=#{sysRoleId,jdbcType=INTEGER}
    </if>
    <if test="sysPermissionId != null" >
      and sys_permission_id=#{sysPermissionId,jdbcType=INTEGER}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.user.base.entity.model.RolePermission" >
    delete from t_sys_role_permission
     where 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="sysRoleId != null" >
      and sys_role_id=#{sysRoleId,jdbcType=INTEGER}
    </if>
    <if test="sysPermissionId != null" >
      and sys_permission_id=#{sysPermissionId,jdbcType=INTEGER}
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.user.base.entity.model.RolePermission" >
    insert into t_sys_role_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysRoleId != null" >
        sys_role_id,
      </if>
      <if test="sysPermissionId != null" >
        sys_permission_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysRoleId != null" >
        #{sysRoleId,jdbcType=INTEGER},
      </if>
      <if test="sysPermissionId != null" >
        #{sysPermissionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

</mapper>