<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.user.base.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.user.base.entity.model.UserRole" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_user_id" property="sysUserId" jdbcType="INTEGER" />
    <result column="sys_role_id" property="sysRoleId" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, sys_user_id, sys_role_id
  </sql>
  <select id="queryByParams" resultMap="BaseResultMap" parameterType="com.user.base.entity.model.UserRole" >
    select
    <include refid="Base_Column_List" />
    from t_sys_user_role WHERE 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="sysUserId != null" >
      and sys_user_id = #{sys_user_id,jdbcType=INTEGER}
    </if>
    <if test="sysRoleId != null" >
      and sys_role_id = #{sys_role_id,jdbcType=INTEGER}
    </if>
  </select>
  <delete id="deleteByParams" parameterType="com.user.base.entity.model.UserRole" >
    delete from t_sys_user_role WHERE 1= 1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="sysUserId != null" >
      and sys_user_id = #{sysUserId,jdbcType=INTEGER}
    </if>
    <if test="sysRoleId != null" >
      and sys_role_id = #{sysRoleId,jdbcType=INTEGER}
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.user.base.entity.model.UserRole" >
    insert into t_sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysUserId != null" >
        sys_user_id,
      </if>
      <if test="sysRoleId != null" >
        sys_role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysUserId != null" >
        #{sysUserId,jdbcType=INTEGER},
      </if>
      <if test="sysRoleId != null" >
        #{sysRoleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>