<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>用户列表</title>
        <!--引入css-->
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/dataTables/dataTables.bootstrap.css"/>
        <link rel="stylesheet" href="/css/datepicker/bootstrap-datetimepicker.css"/>
        <link rel="stylesheet" href="/css/sweetalert/sweetalert2.min.css"/>
        <style type="text/css">
            .main {
                width: 100%;
                box-sizing: border-box;
                min-width: 1200px;
                padding: 20px;
            }
        </style>
        <!-- 引入js -->
        <script type="text/javascript" src="/js/moment/moment.min.js"></script>
        <script type="text/javascript" src="/js/jquery/jquery.js"></script>
        <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/datepicker/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/js/datepicker/bootstrap-datetimepicker.zh-CN.js"></script>
        <script type="text/javascript" src="/js/dataTables/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/js/dataTables/dataTables.bootstrap.js"></script>
        <script type="text/javascript" src="/js/sweetalert/sweetalert2.min.js"></script>
        <script type="text/javascript">
            function editEmpRsource(empid) {
                window.location.href = "/emp/editEmpRsource/"+empid;
            }
            function empDel(empid) {
                $.ajax({
                    url:"/emp/empDel",
                    type:'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    data:JSON.stringify({"employeeid":empid}),
                    async: true,
                    success:function(data){
                        console.log(data);
                        if(data.success==true){
                            alert(data.description);
                            location.reload();
                        }else{
                            alert("用户删除失败,原因:["+data.description+"]");
                        }
                    },
                    error:function () {
                    }
                });
            }
            function blacklist(empid,type) {
                var url;
                if(type==1){
                    url="/emp/blackEmp";
                }else{
                    url="/emp/cancelBlackEmp";
                }
                $.ajax({
                    url:url,
                    type:'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    data:JSON.stringify({"employeeid":empid}),
                    async: true,
                    success:function(data){
                        console.log(data);
                        if(data.success==true){
                            alert(data.description);
                            location.reload();
                        }else{
                            alert("操作失败,原因:["+data.description+"]");
                        }
                    },
                    error:function () {
                    }
                });
            }

        </script>
    </head>
    <body>
        <div class="main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">用户搜索</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" action="#" th:action="@{/emp/empList}" th:object="${employees}" method="post">
                        <div class="form-group">
                            <label for="emptype">用户类型</label>
                            <select class="form-control" id="emptype" th:field="*{emptype}">
                                <option value="99">全部</option>
                                <option th:each="map:${emptypeList}"
                                        th:value="${map.key}"
                                        th:text="${map.value}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="sources">来源类型</label>
                            <select class="form-control" id="sources" th:field="*{sources}">
                                <option value="">全部</option>
                                <option th:each="map:${sourcesList}"
                                        th:value="${map.key}"
                                        th:text="${map.value}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="byisuse">用户状态</label>
                            <select class="form-control" id="byisuse" th:field="*{byisuse}">
                                <option value="99">全部</option>
                                <option th:each="map:${byisuseList}"
                                        th:value="${map.key}"
                                        th:text="${map.value}"></option>
                            </select>
                        </div>
                        <input th:value="${page.currentPage}" id="page_currentPage" type="hidden">
                        <input th:value="${page.pageSize}" id="page_pageSize" type="hidden">
                        <input th:value="${page.totals}" id="page_totals" type="hidden">
                        <input th:value="${page.pages}" id="page_pages" type="hidden">
                        <button type="submit" class="btn btn-primary"> 查 询</button>
                    </form>
                </div>
            </div>
            <p class="panel panel-default">
                <table id="emptable" class="table stripe table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>usercode</th>
                            <th>username</th>
                            <th>password</th>
                            <th>salt</th>
                            <th>status</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user:${userList}">
                            <td>
                                <p th:text="${user.id}"></p>
                            </td>
                            <td>
                                <p th:text="${user.usercode}"></p>
                            </td>
                            <td>
                                <p th:text="${user.username}"></p>
                            </td>
                            <td>
                                <p th:text="${user.password}"></p>
                            </td>
                            <td>
                                <p th:text="${user.salt}"></p>
                            </td>
                            <td>
                                <p th:if="${user.status eq 0}" >平台用户</p>
                                <p th:if="${user.status eq 1}" >景区用户</p>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success" th:onclick="|empView(${Employees.employeeid})|">查看</button>
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" style="min-width: 120px; left: -10px; padding: 5px;">
                                        <li><label th:if="${(Employees.byisuse != 2) and (Employees.byisuse != 3)}"><input value="修改" type="button" class="btn btn-success" th:onclick="|empEdit(${Employees.employeeid})|"/></label></li>
                                        <li><label th:if="${(Employees.byisuse != 2) and (Employees.byisuse != 0) and (Employees.byisuse != 3)}"><input value="禁用" type="button" class="btn btn-success" th:onclick="|empDel(${Employees.employeeid})|"/></label></li>
                                        <li><label th:if="${(Employees.byisuse != 2) and (Employees.byisuse != 3)}"><input value="密码初始化" type="button" class="btn btn-success" th:onclick="|empPassWordEdit(${Employees.employeeid})|"/></label></li>
                                        <li><label th:if="${(Employees.byisuse != 2) and (Employees.byisuse != 3)}"><input value="加入黑名单" type="button" class="btn btn-success" th:onclick="|blacklist(${Employees.employeeid},1)|"/></label></li>
                                        <li><label th:if="${Employees.byisuse eq 2}">  |  <input value="取消黑名单" type="button" class="btn btn-success" th:onclick="|blacklist(${Employees.employeeid},2)|"/></label></li>
                                        <li><label th:if="${Employees.byisuse == 3 and Employees.sources=='0'}"><input value="审核" type="button" class="btn btn-success" th:onclick="|empAudit(${Employees.employeeid})|"/></label></li>
                                        <li><label th:if="${(Employees.byisuse != 2) and (Employees.byisuse != 3) and (Employees.sources=='0')}"><input value="通用系统" type="button" class="btn btn-success" th:onclick="|editEmpRsource(${Employees.employeeid})|"/></label></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <span>总条数：<span th:text="${page.totals}"></span>&nbsp;&nbsp;</span>
                        <span>总页数：<span th:text="${page.pages}"></span>&nbsp;&nbsp;</span>
                        <span>当前页码：<span th:text="${page.currentPage}"></span></span>
                    </li>
                    <li>
                        <a th:href="@{/emp/empList/(currentPage=1,pageSize=${page.pageSize} )}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;首页</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/emp/empList/(currentPage=${page.currentPage-1},pageSize=${page.pageSize} )}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;上一页</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/emp/empList/(currentPage=${page.currentPage+1},pageSize=${page.pageSize} )}" aria-label="Next">
                            <span aria-hidden="true">下一页&raquo;</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/emp/empList/(currentPage=${page.pages},pageSize=${page.pageSize} )}" aria-label="Next">
                            <span aria-hidden="true">尾页&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>