<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.general.dao.UserBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.user.general.entity.domain.UserBase">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="ct" property="ct" />
        <result column="ut" property="ut" />
        <result column="cid" property="cid" />
        <result column="uid" property="uid" />
        <result column="ava" property="ava" />
    </resultMap>


    <sql id="Base_Column_List" >
        id, code, password, salt, ct, ut, cid, uid, ava
    </sql>


    <select id="queryByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from t_bu_user_base
        where id = #{id}
    </select>

    <select id="queryByCode" parameterType="com.user.general.entity.domain.UserBase" resultMap="BaseResultMap" >
        select <include refid="Base_Column_List" />
        FROM t_bu_user_base
        WHERE ava = 1
        AND CODE = #{code}
        <if test="id != null" >
            and id != #{id}
        </if>
        limit 1
    </select>


    <select id="queryByParams" parameterType="com.user.general.entity.domain.UserBase" resultMap="BaseResultMap" >
        select <include refid="Base_Column_List" />
        from t_bu_user_base
        where 1 = 1
        <if test="code != null and code !=''" >
            and code LIKE CONCAT('%',#{code},'%')
        </if>
        <if test="password != null and password !=''" >
            and password = #{password,jdbcType=VARCHAR}
        </if>
        <if test="salt != null and salt !=''" >
            and salt = #{salt,jdbcType=VARCHAR}
        </if>
        <if test="ava != null" >
            and ava = #{ava,jdbcType=INTEGER}
        </if>
    </select>


    <insert id="insertSelective" parameterType="com.user.general.entity.domain.UserBase"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_bu_user_base
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="code != null and code !=''" >
                code,
            </if>
            <if test="password != null and password !=''" >
                password,
            </if>
            <if test="salt != null and salt !=''" >
                salt,
            </if>
            <if test="ct != null" >
                ct,
            </if>
            <if test="ut != null" >
                ut,
            </if>
            <if test="cid != null" >
                cid,
            </if>
            <if test="uid != null" >
                uid,
            </if>
            <if test="ava != null" >
                ava,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="code != null and code !=''" >
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password !=''" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null and salt !=''" >
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="ct != null" >
                #{ct,jdbcType=TIMESTAMP},
            </if>
            <if test="ut != null" >
                #{ut,jdbcType=TIMESTAMP},
            </if>
            <if test="cid != null" >
                #{cid,jdbcType=INTEGER},
            </if>
            <if test="uid != null" >
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="ava != null" >
                #{ava,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>


    <update id="updateBySelective" parameterType="com.user.general.entity.domain.UserBase" >
        update t_bu_user_base
        <set >
            <if test="code != null and code !=''" >
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password !=''" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null and salt !=''" >
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="ct != null" >
                ct =  #{ct,jdbcType=TIMESTAMP},
            </if>
            <if test="ut != null" >
                ut =  #{ut,jdbcType=TIMESTAMP},
            </if>
            <if test="cid != null" >
                cid =  #{cid,jdbcType=INTEGER},
            </if>
            <if test="uid != null" >
                uid =  #{uid,jdbcType=INTEGER},
            </if>
            <if test="ava != null" >
                ava =  #{ava,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id}
    </update>


    <update id="updateSetStatus" parameterType="com.user.general.entity.domain.UserBase" >
        update t_bu_user_base set ava = #{ava,jdbcType=INTEGER}  where id = #{id}
    </update>


    <select id="queryUserInfoByParams" parameterType="java.util.Map"
            resultType="com.user.general.entity.dto.response.UserInfoQueryRes" >
        SELECT base.id, base.code,info.user_name,info.address,info.age,info.sex
        FROM t_bu_user_base base,t_bu_user_info info
        WHERE base.id = info.user_id
    </select>


</mapper>
