<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.doctor.dao.DoctorInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.user.doctor.entity.model.DoctorInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="type" property="type" />
        <result column="ct" property="ct" />
        <result column="cid" property="cid" />
        <result column="ut" property="ut" />
        <result column="uid" property="uid" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
